extends musicLayout

block content
  h1.mb-1 #{piece.title}
    span.piece-year= formatPieceYear(piece)
  h2.mb-0= piece.subtitle

  .row.mx-ns
    .col-lg-7.px-s.my-s
      div!= piece.description
      if piece.products && piece.products.length > 0
        h2 Purchase
        each product in piece.products
          .d-flex.align-items-center
            .flex-grow-1.
              #[span.mb-0.mr-3= product.name] #[span.font-weight-bold $#{product.price}]
            form(method="post", action="/purchase")
              button.add-to-cart.btn.btn-primary.ml-2(data-product-id=product.id) Add to cart
    .col-lg-5.px-s.my-s
      if piece.scores && piece.scores.length > 0
        h4 Score
        ul.list-unstyled
          each score in piece.scores
            li: a(href=score.url target='_blank')= score.title
      if piece.audio && piece.audio.length > 0
        h4 Audio
        each audioFile in piece.audio
          .audio
            p.font-weight-bold= audioFile.title
            audio(src=audioFile.url, preload="metadata", controls)

  if piece.video && piece.video.length > 0
    h4 Videos
    each video in piece.video
      .video-title.
        #[strong= video.title] - #{formatDate(video.date)}
      .video-performers
        ul.list-unstyled
          if video.performers
            each performer in video.performers
              li= performer
      .embed-container
        iframe(src="https://www.youtube.com/embed/" + video.youtubeId, frameborder="0", allowfullscreen)