extends musicLayout

block content
  .row
    .col-xs-12.piece-title
      h1.title #{piece.title} (#{formatYear(piece.date)})
      h2.subtitle= piece.subtitle
      p= piece.notes
      
  .row
    .col-sm-8
      p= piece.description
    .col-sm-4
      if piece.scores && piece.scores.length > 0
        h3 Score
        ul.list-unstyled
          each score in piece.scores
            li: a(href="/scores/" + score.filename)= score.title
      if piece.audio && piece.audio.length > 0
        h3 Audio
        each audioFile in piece.audio
          .audio
            h4= audioFile.title
            audio(src="/audio/" + audioFile.filename, preload="metadata", controls)

  if piece.video && piece.video.length > 0
    h3 Videos
    each video in piece.video
      .video-title.
        #[strong= video.title] - #{formatDate(video.date)}
      .video-performers
        ul.list-unstyled
          if video.performers
            each performer in video.performers
              li= performer
      .embed-container
        iframe(src="https://www.youtube.com/embed/" + video.youtubeId, frameborder="0", allowfullscreen)             