extends musicLayout
include performances

block content
  h1.mb-1 #{piece.title}
    span.piece-year= formatPieceYear(piece)
  h2.mb-0.subtitle= piece.subtitle

  .row
    if piece.accolades || products.length > 0 || piece.description || piece.performances
      .col-md-7.py-s
        if piece.accolades
          .mb-5
            em!=piece.accolades
        if products.length > 0
          h2 Purchase
          .mb-5
            each product in products
              #add-to-cart(data-product-id=product.priceId)
        if piece.description
          h2 Notes
          .text-justify.mb-5!= piece.description
        if piece.performances
          +performances(piece)
    .col-md-5
      .sticky-top.pb-s.pt-md-s
        if piece.duration && piece.duration > 0
          h4 Duration
          .mb-4= formatDuration(piece.duration)
        if piece.grade && piece.grade > 0
          h4 Grade
          .mb-4= formatGrade(piece.grade)
        if piece.scores && piece.scores.length > 0
          h4 Score
          ul.list-unstyled.mb-4
            each score in piece.scores
              li.mb-3: a(href=score.url target='_blank')= score.title
        if piece.audio && piece.audio.length > 0
          h4 Audio
          each audioFile in piece.audio
            .audio
              p.font-weight-bold= audioFile.title
              audio(src=audioFile.url, preload="metadata", controls).mb-4