extends musicLayout

block content
  h1.mb-0 #{piece.title} (#{formatYear(piece.date)})
  h2.mb-0= piece.subtitle

  .row
    .col-md-8.col-sm-6
      p= piece.description
    .col-md-4.col-sm-6
      if piece.scores && piece.scores.length > 0
        h3 Score
        ul.list-unstyled
          each score in piece.scores
            li: a(href=score.url)= score.title
      if piece.audio && piece.audio.length > 0
        h3 Audio
        each audioFile in piece.audio
          .audio
            h4= audioFile.title
            audio(src=audioFile.url, preload="metadata", controls)

  if piece.video && piece.video.length > 0
    h3 Videos
    each video in piece.video
      .video-title.
        #[strong= video.title] - #{formatDate(video.date)}
      .video-performers
        ul.list-unstyled
          if video.performers
            each performer in video.performers
              li= performer
      .embed-container
        iframe(src="https://www.youtube.com/embed/" + video.youtubeId, frameborder="0", allowfullscreen)